---
http_interactions:
- request:
    method: get
    uri: https://getstrike.net/api/v2/torrents/top/?category=Books
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{"results":100,"statuscode":200,"responsetime":0.1608,"torrents":[{"torrent_hash":"7DA0DCEF9F4F78BB2B75CB74190D31C01E547D86","torrent_title":"Men\u2019s
        Fitness Workout Manual 2015 + 10 Week Body Plan - Your Complete Guide to Building
        Muscle, Losing Fat and feeling Great - Mantesh","torrent_category":"Books","sub_category":"","seeds":993,"leeches":31,"file_count":4,"size":127213240.32,"download_count":52,"upload_date":"Dec  9,
        2014","uploader_username":"Mantesh","page":"https:\/\/getstrike.net\/torrents\/7DA0DCEF9F4F78BB2B75CB74190D31C01E547D86","rss_feed":"https:\/\/getstrike.net\/torrents\/7DA0DCEF9F4F78BB2B75CB74190D31C01E547D86?rss=1","magnet_uri":"magnet:?xt=urn:btih:7DA0DCEF9F4F78BB2B75CB74190D31C01E547D86&dn=Men%E2%80%99s+Fitness+Workout+Manual+2015+%2B+10+Week+Body+Plan+-+Your+Complete+Guide+to+Building+Muscle%2C+Losing+Fat+and+feeling+Great+-+Mantesh&tr=udp:\/\/open.demonii.com:1337&tr=udp:\/\/tracker.coppersurfer.tk:6969&tr=udp:\/\/tracker.leechers-paradise.org:6969&tr=udp:\/\/exodus.desync.com:6969"},{"torrent_hash":"6C32B66CEE44B7A0E3E42E22ACF5E77BF3218087","torrent_title":"Marvel
        NOW+ (03-25-2015) (- Nem -)","torrent_cate[...]
