---
http_interactions:
- request:
    method: get
    uri: https://getstrike.net/api/v2/torrents/top/?category=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: UTF-8
      string: '{"results":100,"statuscode":200,"responsetime":0.0047,"torrents":[{"torrent_hash":"30ABE6B5816C758D327672A0FA58FF2B055AD3FE","torrent_title":"Game
        of Thrones S05E04 WEBRip XviD-FUM[ettv]","torrent_category":"TV","sub_category":"Other
        TV","seeds":77264,"leeches":21031,"file_count":2,"size":442970931.2,"download_count":456,"upload_date":"Apr
        12, 2015","uploader_username":"ettv","page":"https:\/\/getstrike.net\/torrents\/30ABE6B5816C758D327672A0FA58FF2B055AD3FE","rss_feed":"https:\/\/getstrike.net\/torrents\/30ABE6B5816C758D327672A0FA58FF2B055AD3FE?rss=1","magnet_uri":"magnet:?xt=urn:btih:30ABE6B5816C758D327672A0FA58FF2B055AD3FE&dn=Game+of+Thrones+S05E04+WEBRip+XviD-FUM%5Bettv%5D&tr=udp:\/\/open.demonii.com:1337&tr=udp:\/\/tracker.coppersurfer.tk:6969&tr=udp:\/\/tracker.leechers-paradise.org:6969&tr=udp:\/\/exodus.desync.com:6969"},{"torrent_hash":"DE8D9A5E469BAD2A0EE16636C5FE5A7BB9AD11C3","torrent_title":"The
        Walking Dead S05E14 HDTV x264-KILLERS[ettv]","torrent_category":"TV","sub_category":"Other
        TV","seeds":75461,"leeches":20349,"file_coun[...]
