---
http_interactions:
- request:
    method: get
    uri: https://getstrike.net/api/v2/torrents/search/?category=Movies&phrase=Interstellar&subcategory=Highres%20Movies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{"results":100,"statuscode":200,"responsetime":0.0099,"torrents":[{"torrent_hash":"89599BF4DC369A3A8ECA26411C5CCF922D78B486","torrent_title":"Interstellar
        (2014) 1080p BrRip x264 - YIFY","imdbid":"tt0816692","torrent_category":"Movies","sub_category":"Highres
        Movies","seeds":37166,"leeches":27579,"file_count":2,"size":2426656522,"download_count":35,"upload_date":"Mar
        15, 2015","uploader_username":"YIFY","page":"https:\/\/getstrike.net\/torrents\/89599BF4DC369A3A8ECA26411C5CCF922D78B486","rss_feed":"https:\/\/getstrike.net\/torrents\/89599BF4DC369A3A8ECA26411C5CCF922D78B486?rss=1","magnet_uri":"magnet:?xt=urn:btih:89599BF4DC369A3A8ECA26411C5CCF922D78B486&dn=Interstellar+%282014%29+1080p+BrRip+x264+-+YIFY&tr=udp:\/\/open.demonii.com:1337&tr=udp:\/\/tracker.coppersurfer.tk:6969&tr=udp:\/\/tracker.leechers-paradise.org:6969&tr=udp:\/\/exodus.desync.com:6969"},{"torrent_hash":"6E88B3F25BA49D483D740A652BF013C341BC5373","torrent_title":"Interstellar
        (2014) 720p BrRip x264 - YIFY","imdbid":"tt0816692","torrent_category":"Movies","sub_category":"Highres
        Movies","seeds":8746,"l[...]
