---
http_interactions:
- request:
    method: get
    uri: https://getstrike.net/api/v2/torrents/search/?phrase=windows&subcategory=Windows
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: UTF-8
      string: '{"results":100,"statuscode":200,"responsetime":0.0172,"torrents":[{"torrent_hash":"D06A608B8793613F53D252E5235D34EF4542B694","torrent_title":"VMWare
        Workstation 11.1.0 Build 2496824 Windows and Linux","torrent_category":"Applications","sub_category":"Windows","seeds":1427,"leeches":912,"file_count":3,"size":749312410,"download_count":29,"upload_date":"Apr
        11, 2015","uploader_username":"RedRB","page":"https:\/\/getstrike.net\/torrents\/D06A608B8793613F53D252E5235D34EF4542B694","rss_feed":"https:\/\/getstrike.net\/torrents\/D06A608B8793613F53D252E5235D34EF4542B694?rss=1","magnet_uri":"magnet:?xt=urn:btih:D06A608B8793613F53D252E5235D34EF4542B694&dn=VMWare+Workstation+11.1.0+Build+2496824+Windows+and+Linux&tr=udp:\/\/open.demonii.com:1337&tr=udp:\/\/tracker.coppersurfer.tk:6969&tr=udp:\/\/tracker.leechers-paradise.org:6969&tr=udp:\/\/exodus.desync.com:6969"},{"torrent_hash":"66BE46D9864C25F63211F438E93FC4E2ABBBAD83","torrent_title":"Microsoft
        Toolkit 2.5.2 Activator 4 Windows and Office.zip","torrent_category":"Applications","sub_category":"Windows","seeds":1120,"leech[...]
